<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Charities</title>
</head>
<body>
    <div>
        <h1>All Charities</h1>
    </div>
        {{#charities}}
            <div>
                <b>{{name}}</b>
                <br><span>{{description}}</span>
                <br>
                <br>
            </div>
        {{/charities}}
</body>
</html>