<!DOCTYPE html>
<html>
<head>
    {{#charity}}
    <title>{{name}}</title>
    {{/charity}}
</head>
<body>
    {{#charity}}
    <div>
        <h1>{{name}}</h1>
    </div>
    <div>
        <span>{{description}}</span>
    </div>
    {{/charity}}
</body>
</html>